h1 {
  margin: 0;
  margin-bottom: 4pt;
  font-family: sans-serif;
}

table {
  width: 100%;
}
td {
  border-collapse: collapse;
  height: 38px;
  border-bottom: 0.5pt solid #969696;
}

time, span  {
  padding: 1pt 5pt;
  border: 0.5pt solid;
}

time {
  background-color: #ad7fa8;
  color: #fff;
  border-color: #75507b;
}

table {
  font-family: sans-serif;
  text-align: center;
}

span {
  background-color: #edd400;
  color: #555;
  border-color: #c4a000;
}